# App
VITE_APP_NAME="मातृ वंदना योजना सर्वेक्षण एवं मॉनिटरिंग डैशबोर्ड"
VITE_APP_DISTRICT="Dantewada"
VITE_APP_STATE="Chhattisgarh"

# Optional Google Apps Script / Sheets integration
VITE_GOOGLE_APPS_SCRIPT_URL=""

